<footer id="footer" class="bg-[#273430] text-white py-[20px]">
  <div class="flex flex-row justify-around leading-relaxed">
    <div id="leader">
      <h3 class="font-bold text-[1rem] text-[#75d8bc]">Leader</h3>
      <h2>Mohamed Elsify</h2>
    </div>
    <div id="emplementers">
      <h2 class="font-bold text-[1rem] text-[#75d8bc]">Project Implementers</h2>
      <ul>
        <li>Osama Hamada</li>
        <li>Esraa Fayez</li>
        <li>Kero</li>
        <li>Mohamed Abo Arab</li>
        <li>Rehab</li>
      </ul>
    </div>
    <div id="Website">
      <h2 class="font-bold text-[1rem] text-[#75d8bc]">Website</h2>
      <ul>
        <li>Aya</li>
        <li>Donia</li>
        <li>Kareem</li>
        <li>Mahmoud Al-Amouri</li>
        <li>Yousif Zaki</li>
      </ul>
    </div>
    <div id="catalog">
      <h2 class="font-bold text-[1rem] text-[#75d8bc]">Catalog</h2>
      <ul>
        <li>Emaan Amr</li>
        <li>Mohamed Ebrahim</li>
      </ul>
    </div>
    <div id="Video">
      <h2 class="font-bold text-[1rem] text-[#75d8bc]">Video</h2>
      <ul>
        <li>Asmaa</li>
      </ul>
    </div>

    <!-- Social Media -->
    <div class="w-[180px]" id="social">
      <img
        width="80px"
        height="80px"
        src="../../assets/img/logo.ps.png"
        alt="Logo"
      />
      <div class="flex flex-row justify-around">
        <a href="#"
          ><img
            src="../../assets/img/youtube-line.png"
            width="30px"
            alt="Youtube"
        /></a>
        <a href="#"
          ><img
            src="../../assets/img/facebook-circle-line.png"
            width="30px"
            alt="Facebook"
        /></a>
        <a href="#"
          ><img
            src="../../assets/img/instagram-line.png"
            width="30px"
            alt="Instagram"
        /></a>
        <a href="#"
          ><img src="../../assets/img/(1).png" width="30px" alt="Twitter"
        /></a>
      </div>
    </div>
  </div>
</footer>
